<script src="web/js/creative.min.js"></script>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Competição Natação</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Homenagiado</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Modalidades</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Festival Amazonense de Natação Novembro 12, 2016</h1>
            <hr>
            <p>
                Apesar de não ser um exercício tão natural para o ser humano como caminhar ou correr, a natação existe há milênios.
            </p>
            <a href="#/subscribe" class="btn btn-primary btn-xl page-scroll">Fazer Inscrição</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Michael Phelps</h2>
                <hr class="light">
                <p class="text-faded">Michael Fred Phelps II (Baltimore, 30 de junho de 1985) é um ex- nadador norte-americano. Considerado um dos maiores atletas de todos os tempos, conquistou trinta e sete recordes mundiais e conquistou o maior número de medalhas de ouro (nove) olímpicas em uma única edição, feito este realizado nos Jogos de Pequim, na China, em agosto de 2008.</p>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Modalidades</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-lg-9 centered">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="web/img/modalidade/1.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Estilo Livre</h4>
                                Neste estilo o nadador pode optar pelo estilo de nado que preferir. Na prática o estilo usado com maior frequência é o crawl, em que o atleta nada em posição ventral (barriga voltada para o fundo da piscina) e move os braços, paralelamente ao corpo, num movimento rotativo (quando um braço avança o outro recua), enquanto bate as pernas, também alternadamente.
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="web/img/modalidade/2.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Estilo Costas</h4>
                                O estilo costas tem uma técnica semelhante ao crawl, excepto que é praticado com as costas voltadas para o fundo da piscina. O estilo costas compete-se em distâncias de 50m,100m e 200m.
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="web/img/modalidade/3.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Estilo Bruços</h4>
                                O estilo costas tem uma técnica semelhante ao crawl, excepto que é praticado com as costas voltadas para o fundo da piscina. O estilo costas compete-se em distâncias de 50m,100m e 200m.
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="web/img/modalidade/4.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Estilo Mariposa</h4>
                                No estilo mariposa, o nadador está com a barriga voltada para o fundo da piscina, rodando os braços lateral e simultaneamente e batendo as pernas juntas. É para muito o estilo mais complicado de nadar e que requer maiores indices de força, mas de londe o mais bonito de se ver por ser parecido com o nado de um golfinho.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="bg-primary" id="contact" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contato!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p ><a href="mailto:your-email@your-domain.com" class="text-white">feedback@startbootstrap.com</a></p>
            </div>
        </div>
    </div>
</section>
